body {
  background-image: url(https://images4.alphacoders.com/587/587526.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  font-family: 'Courier New', monospace;
}

h1, p, legend {
  text-align: center;
}

#name-label, #email-label, #number-label {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  text-align: right;
  width: 400px;
  line-height: 26px;
  margin-bottom: 10px;
}

#name, #email, #number {
  height: 20px;
  flex: 0 0 200px;
  margin-left: 10px;
}

label {
  display: block;
}

textarea {
  display: block;
  margin: 20px auto;
}

.textarea {
  text-align: center;
}

fieldset {
  padding: 20px;
  margin: 50px 150px;
}

input[type="submit"] {
  display: block;
  margin: 50px auto;
  width: 250px;
}


